# general
tqdm
setuptools; python_version >= '3.12'

# colorful print in console
rich
colorama


# version handling
looseversion

# Security and encryption
cryptography

# HTTP and networking libraries
urllib3
idna
chardet
certifi

# ip geo location
ipapi

# audio handling
playsound==1.2.2

# image processing
numpy
Pillow

# OCR
ddddocr

# data parsing
pandas
beautifulsoup4

# Clipboard handling
pyperclip

# Web frameworks
tornado

# webdriver automation
selenium
undetected-chromedriver
chromedriver-autoinstaller-max
nodriver # PS: nodriver need python 3.9+
## nodriver max modified version:
# python -m pip install git+https://github.com/max32002/nodriver
